<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/create_package.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

 
</head>

<body>


  <input type="checkbox" id="check">

  <!-- Navbar -->

  <%- include('header.ejs') %>

  <div class="nav-bar">
    <div class="nav-bar-item">
      <h1>Create Package</h1>
      <ul style="display: flex; flex-direction: row;">
        <li><a href="/dashboard">home</a></li>
        <li><a><i class="fas fa-arrow-right" style="font-size: 0.9rem; color: antiquewhite; padding: 0px 5px;"></i></a></li>
        <li><a href="/packages">Packages</a></li>
        <li><a><i class="fas fa-arrow-right" style="font-size: 0.9rem; color: antiquewhite; padding: 0px 5px;"></i></a></li>
        <li><a href="/packages/CreatePackage">Create Package</a></li>
      </ul>
    </div>
  </div>

  <%- include('package_sidebar.ejs') %>
  
  <div class="travel-container">
    <% if(success != '') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <strong>Success:&nbsp;</strong> <%= success %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    
     
   <div class="form-container">
    <form action="/packages/CreatePackage" method="post" enctype="multipart/form-data" autocomplete="off">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Package Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="package_name" placeholder="Enter Package Name" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Package Type</label>
        <div class="col-sm-10 form-input" >
            <select name="package_type" class="form-control" style="color: rgb(17, 16, 16); font-weight: bold; font-size: 0.9rem;padding: 4px 0px;">
                <option value="">Choose Package Type</option>
                <% if(records.length > 0){
                   records.forEach(function(row){  
                %>
                <option value="<%= row.Package_Type %>"><%= row.Package_Type %></option>
                <% })} %>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="duration" class="col-sm-2 col-form-label">Trip Duration</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="package_duration"  placeholder="Enter trip Duration" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Package Price</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="package_price"  placeholder="Enter Package Price" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="discount" class="col-sm-2 col-form-label">Discount</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="discount"  placeholder="Enter Discount" required>
        </div>
      </div>
      <div class="form-group row ">
        <label for="location" class="col-sm-2 col-form-label">Package Location</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="package_loc" placeholder="Enter Package Location" required>
        </div>
      </div>
      <div class="form-group row ">
        <label for="features" class="col-sm-2 col-form-label">Package Features</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="package_features" placeholder="Enter Package Features" required>
        </div>
      </div>
      <div class="form-group row ">
        <label for="details" class="col-sm-2 col-form-label">Package Details</label>
        <div class="col-sm-10 form-input">
          <input type="text" class="form-control" name="package_details" placeholder="Enter Package Details" required>
        </div>
      </div>
      <div class="form-group row ">
        <label for="map" class="col-sm-2 col-form-label">Package Map</label>
        <div class="col-sm-10 form-input">
      <textarea class="form-control" name="package_map" style="resize: none;" rows="3" placeholder="Enter Package Map coordinates" required></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="img" class="col-sm-2 col-form-label" style="margin-top: 1rem;">Package Image</label>
        <div class="col-sm-10">
        <input type="file" style="padding: 4px 0px; font-size: 1.1rem; width: 24rem;" class="form-control-file img" name="package_img">
      </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10 button" style="display: flex;">
          <button type="submit" class="btn btn-primary">Create Package</button>
          <a href="/packages/ViewPackage" class="nav-link">View All Packages</a>
        </div>
      </div>
      
    </form>
   </div>
  </div>


<script src="../public/javascripts/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>